---
interface Props {
    title: string;
    subtitle: string;
}
const { title, subtitle } = Astro.props;
---

<div class="py-12 flex flex-col justify-center gap-4 w-full lg:w-3/4 mx-auto px-10">
    <h2 class="text-3xl lg:text-5xl text-matcha-leaves-500 font-bold font-mono text-center">{title}</h2>
    <div class="w-24 h-1 bg-matcha-leaves-500 mx-auto mb-4"></div>
    <p class="text-center text-md lg:text-xl text-matcha-leaves-700">{subtitle}</p>
</div>