---
const year = new Date().getFullYear();
---

<footer class="bg-matcha-leaves-700/90 text-white py-12">
    <div class="container mx-auto px-6">
        <div
            class="pt-8 border-t border-matcha-gray/20 text-center text-matcha-gray"
        >
            <p>
                &copy; {year} Kurajiyu Matcha Ceremonial. Desarrollado por <a
                    class="font-bold"
                    href="https://elcreadorweb.com"
                    target="_blank"
                    rel="nofollow noopener">El Creador Web</a
                >.
            </p>
        </div>
    </div>
</footer>
