---

---

<section class="w-full h-screen bg-hero flex justify-start items-center">
    <div class="px-12 w-full lg:w-1/2 -mt-40 lg:mt-0 text-center lg:text-left ms-0 lg:ms-30">
        <h1 class="text-5xl lg:text-7xl text-matcha-leaves-600 font-black font-secondary">Matcha Ceremonial Grade</h1>
        <p class="text-lg lg:text-2xl text-matcha-leaves-700 text-center lg:text-left">Experimenta la auténtica tradición japonesa en cada taza</p>
        <div class="flex justify-center lg:justify-start gap-5 my-5 ">
            <a href="" class="text-xl lg:text-2xl bg-matcha-leaves-500 py-3 px-2 lg:px-5 rounded-full text-white hover:bg-matcha-leaves-300 hover:text-matcha-leaves-800">Comprar</a>
            <a href="" class="text-xl lg:text-2xl bg-matcha-leaves-500 py-3 px-2 lg:px-5 rounded-full text-white hover:bg-matcha-leaves-300 hover:text-matcha-leaves-800">Conocer más</a>
        </div>
    </div>
</section>
