---

---

<section class="w-full h-screen bg-hero flex justify-start items-center">
    <div class="px-12 w-1/2 ">
        <h1 class="text-7xl text-matcha-leaves-600 font-black">Matcha Ceremonial Grade</h1>
        <p class="text-2xl text-matcha-800">Experimenta la auténtica tradición japonesa en cada taza</p>
        <div class="flex gap-5 my-5">
            <a href="" class="text-2xl bg-matcha-leaves-500 px-5 py-3 rounded-full text-white hover:bg-matcha-leaves-300 hover:text-matcha-leaves-800">Comprar</a>
            <a href="" class="text-2xl bg-matcha-leaves-500 px-5 py-3 rounded-full text-white hover:bg-matcha-leaves-300 hover:text-matcha-leaves-800">Conocer más</a>
        </div>
    </div>
</section>
