---
import Title from '../components/Title.astro';

---

<section class="h-screen w-full">
    <div>
        <Title title='Matcha Ceremonial Grade' subtitle='La máxima expresión del té verde japonés, cultivado con métodos tradicionales para una experiencia sensorial única' />
    </div>
    <div></div>

</section>